<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>templateEngine test</title>
		<link rel="stylesheet" href="../style/css/templateEngine.css">
		<script src="../js/templateEngine_test/template-debug.js"></script>
		<script src="../js/templateEngine_test/mustache.js"></script>
		<script src="../js/templateEngine_test/doT.js"></script>
		<script src="../js/templateEngine_test/juicer.js"></script>
		<script src="../js/templateEngine_test/hogan.js"></script>
		<script src="../js/templateEngine_test/transparency.js"></script>
		<script src="../js/templateEngine_test/handlebars.js"></script>
		<script src="../js/templateEngine_test/dust-full.js"></script>
		<script src="../js/templateEngine_test/t.js"></script>
		<script src="../js/templateEngine_test/baiduTemplate.js"></script>
		<script src="../js/templateEngine_test/nunjucks.js"></script>
		<script src="../js/templateEngine_test/vue.js"></script>
		<script src="../js/zepto.js"></script>
		<script></script>
	</head>
	<body>
		<section class="center">
			<article data-template="artTemplate" class="oneTemplate">
				<header>artTemplate-3.0<a href="https://github.com/aui/artTemplate" class="font github"></a></header>
				<div id ="artTemplate" class="renderArea">
					<h4>编码输出:</h4>
					<p>{{encode}}</p>
					<h4>不编码输出:</h4>
					<p>
						{{#encode}}
					</p>
					<h4>条件非:</h4>
					{{if !object.show}}
					<p>条件非ok</p>
					<ul>数组:
						{{each object.list}}
						<li>{{$value}}</li>
						{{/each}}
					</ul>
					<ul>对象数组:
						{{each object.objectList}}
						<li>{{$value.name}}</li>
						{{/each}}
					</ul>
					{{/if}}
				</div>
				<div class="buttons">
					<button class="render">渲染</button>
					<button class="renderN">渲染好多次</button>
				</div>
				<details>
				<summary>更多</summary>
				<ul>详细参数
					<li>大小:5.2KB</li>
					<li>最后更新:8 months ago</li>
					<li>star:1440</li>
					<li>测试结果2000次：编译16ms（无论多少次都固定）,渲染41ms</li>
				</ul>
				<ul>支持列表
					<li>过滤器</li>
				</ul>
				<ul>评价：
					<li>
						性能好。使用内存缓存模板，不重复读取dom/文件/字符串，生成函数！
					</li>
					<li>功能比较简单，只涉及到模板，过滤器</li>
					<li>腾讯品牌，中文维护.</li>
				</ul>
				</details>
				<script>
					function goOnceArtTempateRender(isN){
						var tpl = document.getElementById('artTemplate').innerHTML;
						goOnceArtTempateRender = function(isN){
							var n = isN?RENDER_TIMES:1;
							var startTime = new Date();
							var render = template.compile(tpl)
							var endCompile = new Date();
							while(n--){
								var html = render(data);
							}
							var endRender = new Date();
							console.log('编译时间：'+(endCompile-startTime)+'ms');
							console.log('渲染时间：'+(endRender-endCompile)+'ms');
							document.getElementById('artTemplate').innerHTML = html;
						}
						goOnceArtTempateRender(isN);
					}
				</script>
			</article>
			<article data-template="mustache" class="oneTemplate">
				<header>mustache<a href="https://github.com/janl/mustache.js" class="font github"></a></header>
				<div id ="mustache" class="renderArea">
					<h4>编码输出:</h4>
					<p>{{encode}}</p>
					<h4>不编码输出:</h4>
					<p>{{{encode}}}</p>
					<h4>条件非:</h4>
					{{#object}}
					{{^show}}
					<p>条件非ok</p>
					{{/show}}
					<ul>数组:
						{{#list}}
						<li>{{.}}</li>
						{{/list}}
					</ul>
					<ul>对象数组:
						{{#objectList}}
						<li>{{name}}</li>
						{{/objectList}}
					</ul>
					{{/object}}
				</div>
				<div class="buttons">
					<button class="render">渲染</button>
					<button class="renderN">渲染好多次</button>
				</div>
				<details>
				<summary>更多</summary>
				<ul>详细参数
					<li>大小:8.62KB</li>
					<li>最后更新:21 days ago</li>
					<li>star:7580</li>
					<li>测试结果2000次：编译+渲染85ms</li>
				</ul>
				<ul>支持列表
					<li>支持函数</li>
					<li>支持注释</li>
				</ul>
				<ul>评价：
					<li>
						可以缓存。
					</li>
					<li>不能写表达式</li>
					<li>大品牌，功能也较为简单，出来的时间长，用的人多，官网比较漂亮....</li>
				</ul>
				</details>
				<script>
					function goMustacheRender(isN){
						var tpl = document.getElementById('mustache').innerHTML;
						goMustacheRender = function(isN){
							var n = isN?RENDER_TIMES:1;
							var startTime = new Date();
							while(n--){
								var html = Mustache.render(tpl, data);
							}
							var endRender = new Date();
							console.log('编译+渲染时间：'+(endRender-startTime)+'ms');
							document.getElementById('mustache').innerHTML = html;
						}
						goMustacheRender(isN);
					}
				</script>
			</article>
			<article data-template="doT" class="oneTemplate">
				<header>doT<a href="https://github.com/olado/doT" class="font github"></a></header>
				<div id ="doT" class="renderArea">
					<h4>编码输出:</h4>
					<p>{{=it.encode}}</p>
					<h4>不编码输出:</h4>
					<p>{{!it.encode}}</p>
					<h4>条件非:</h4>
					{{? !it.object.show}}
					<p>条件非ok</p>
					{{?}}
					<ul>数组:
						{{~it.object.list :value:index}}
						<li>{{=value}}</li>
						{{~}}
					</ul>
					<ul>对象数组:
						{{~it.object.objectList :value:index}}
						<li>{{=value.name}}</li>
						{{~}}
					</ul>
				</div>
				<div class="buttons">
					<button class="render">渲染</button>
					<button class="renderN">渲染好多次</button>
				</div>
				<details>
				<summary>更多</summary>
				<ul>详细参数
					<li>大小:3.30KB</li>
					<li>最后更新:3 months ago</li>
					<li>star:1997</li>
					<li>测试结果2000次：编译16ms（无论多少次都固定）,渲染46ms</li>
				</ul>
				<ul>支持列表
					<li>竟然也支持函数，不过不是很好写</li>
				</ul>
				<ul>评价：
					<li>
						这语法太恶心，不过可以自己定制。性能比较高!!!，使用了。
					</li>
					<li>轻量，速度快。</li>
				</ul>
				</details>
				<script>
					function goDoTRender(isN){
						var tpl = document.getElementById('doT').innerHTML;
						goDoTRender = function(isN){
							var n = isN?RENDER_TIMES:1;
							var startTime = new Date();
							var template = doT.template(tpl);
							var endCompile = new Date();
							while(n--){
								var html = template(data);
							}
							var endRender = new Date();
							console.log('编译时间：'+(endCompile-startTime)+'ms');
							console.log('渲染时间：'+(endRender-endCompile)+'ms');
							document.getElementById('doT').innerHTML = html;
						}
						goDoTRender(isN);
					}
				</script>
			</article>
			<article data-template="juicer" class="oneTemplate">
				<header>juicer<a href="https://github.com/PaulGuo/Juicer" class="font github"></a></header>
				<div id ="juicer" class="renderArea">
					<h4>编码输出:</h4>
					<p>${encode}</p>
					<h4>不编码输出:</h4>
					<p>$${encode}</p>
					<h4>条件非:</h4>
					{@if !object.show}
					<p>条件非ok</p>
					{@/if}
					<ul>数组:
						{@each object.list as value}
						<li>${value}</li>
						{@/each}
					</ul>
					<ul>对象数组:
						{@each object.objectList as value}
						<li>${value.name}</li>
						{@/each}
					</ul>
				</div>
				<div class="buttons">
					<button class="render">渲染</button>
					<button class="renderN">渲染好多次</button>
				</div>
				<details>
				<summary>更多</summary>
				<ul>详细参数
					<li>大小:7.71KB</li>
					<li>最后更新:3 months ago</li>
					<li>star:350</li>
					<li>测试结果2000次：编译+渲染64ms</li>
				</ul>
				<ul>支持列表
					<li>支持注释</li>
					<li>支持缓存</li>
				</ul>
				<ul>评价：
					<li>自带对全html的编译。。。不知道为什么，我觉得没有意义于是把它注释了</li>
					<li>
						语法设计了许多方便的快捷操作，但是相对于功能来说，提交微大
					</li>
				</ul>
				</details>
				<script>
					function goJuicerRender(isN){
						var tpl = document.getElementById('juicer').innerHTML;
						goJuicerRender = function(isN){
							var n = isN?RENDER_TIMES:1;
							var startTime = new Date();
							while(n--){
								var html = juicer(tpl, data);
							}
							var endRender = new Date();
							console.log('编译+渲染时间：'+(endRender-startTime)+'ms');
							document.getElementById('juicer').innerHTML = html;
						}
						goJuicerRender(isN);
					}
				</script>
			</article>
			<article data-template="Hogan" class="oneTemplate">
				<header>Hogan<a href="https://github.com/twitter/hogan.js" class="font github"></a></header>
				<div id ="Hogan" class="renderArea">
					<h4>编码输出:</h4>
					<p>{{encode}}</p>
					<h4>不编码输出:</h4>
					<p>{{{encode}}}</p>
					<h4>条件非:</h4>
					{{#object}}
					{{^show}}
					<p>条件非ok</p>
					{{/show}}
					<ul>数组:
						{{#list}}
						<li>{{.}}</li>
						{{/list}}
					</ul>
					<ul>对象数组:
						{{#objectList}}
						<li>{{name}}</li>
						{{/objectList}}
					</ul>
					{{/object}}
				</div>
				<div class="buttons">
					<button class="render">渲染</button>
					<button class="renderN">渲染好多次</button>
				</div>
				<details>
				<summary>更多</summary>
				<ul>详细参数
					<li>大小:5.51KB</li>
					<li>最后更新:10 months ago</li>
					<li>star:3898</li>
					<li>测试结果2000次：编译1ms 渲染37ms</li>
				</ul>
				<ul>支持列表
					<li>支持注释</li>
					<li>支持缓存</li>
				</ul>
				<ul>评价：
					<li>语法和Mustache一样。但是通过观察源码，性能应该比mustache高。</li>
					<li>
						twitter出品。
					</li>
				</ul>
				</details>
				<script>
					function goHoganRender(isN){
						var tpl = document.getElementById('Hogan').innerHTML;
						goHoganRender = function(isN){
							var n = isN?RENDER_TIMES:1;
							var startTime = new Date();
							var render = Hogan.compile(tpl);
							var endCompile = new Date();
							while(n--){
								var html = render.render(data)
							}
							var endRender = new Date();
							console.log('编译时间：'+(endCompile-startTime)+'ms');
							console.log('渲染时间：'+(endRender-endCompile)+'ms');
							document.getElementById('Hogan').innerHTML = html;
						}
						goHoganRender(isN);
					}
				</script>
			</article>
			<article data-template="Transparency" class="oneTemplate">
				<header>Transparency<a href="https://github.com/leonidas/transparency" class="font github"></a></header>
				<div id ="Transparency" class="renderArea">
					<h4>编码输出:</h4>
					<p class="encode"></p>
					<h4>不编码输出:</h4>
					<p class="encode"></p>
					<div class="object">
						<h4>条件非:</h4>
						<p>条件非ok</p>
						<ul>数组:
							<div class="list"><li class="list"></li></div>
						</ul>
						<ul>对象数组:
							<div class="objectList"><li class="name"></li></div>
						</ul>
					</div>
				</div>
				<div class="buttons">
					<button class="render">渲染</button>
					<button class="renderN">渲染好多次</button>
				</div>
				<details>
				<summary>更多</summary>
				<ul>详细参数
					<li>大小:12KB</li>
					<li>最后更新:3 months ago</li>
					<li>star:736</li>
					<li>测试结果2000次：编译+渲染374ms</li>
				</ul>
				<ul>支持列表
				</ul>
				<ul>评价：
					<li>这个语言比较优雅，有种ng-bind的感觉</li>
					<li>这个的数据需要被处理,很麻烦</li>
					<li>可以支持jquery</li>
					<li>
						看了一下代码，性能不高，而且使用不方便。
					</li>
				</ul>
				</details>
				<script>
					function goTransparencyRender(isN){
						var tpl = document.getElementById('Transparency');
						goTransparencyRender = function(isN){
							var n = isN?RENDER_TIMES:1;
							var startTime = new Date();
							while(n--){
								Transparency.render(tpl, data);
							}
							var endRender = new Date();
							console.log('编译+渲染+放到页面上时间：'+(endRender-startTime)+'ms');
						}
						goTransparencyRender(isN);
					}
				</script>
			</article>
			<article data-template="handlebars" class="oneTemplate">
				<header>handlebars<a href="https://github.com/wycats/handlebars.js/" class="font github"></a></header>
				<div id ="handlebars" class="renderArea">
					<h4>编码输出:</h4>
					<p>{{encode}}</p>
					<h4>不编码输出:</h4>
					<p>{{{encode}}}</p>
					<h4>条件非:</h4>
					{{#object}}
					{{^show}}
					<p>条件非ok</p>
					{{/show}}
					<ul>数组:
						{{#list}}
						<li>{{.}}</li>
						{{/list}}
					</ul>
					<ul>对象数组:
						{{#objectList}}
						<li>{{name}}</li>
						{{/objectList}}
					</ul>
					{{/object}}
				</div>
				<div class="buttons">
					<button class="render">渲染</button>
					<button class="renderN">渲染好多次</button>
				</div>
				<details>
				<summary>更多</summary>
				<ul>详细参数
					<li>大小:64kb惊呆</li>
					<li>最后更新:3 months ago</li>
					<li>star:8127</li>
					<li>测试结果2000次：编译+渲染80ms</li>
				</ul>
				<ul>支持列表
					<li>支持注释</li>
					<li>支持数据处理</li>
				</ul>
				<ul>评价：
					<li>使用mustache语法</li>
					<li>不支持缓存</li>
					<li>sublime有这个的快速编辑的插件。https://atom.io/packages/Handlebars</li>
					<li>支持预编译</li>
					<li>
						惊呆了怎么这么大!
					</li>
				</ul>
				</details>
				<script>
					function goHandlebarsRender(isN){
						var tpl = document.getElementById('handlebars').innerHTML;
						goHandlebarsRender = function(isN){
							var n = isN?RENDER_TIMES:1;
							var startTime = new Date();
							var render = Handlebars.compile(tpl);
							while(n--){
								var html = render(data);
							}
							var endRender = new Date();
							console.log('渲染+编译时间：'+(endRender-startTime)+'ms');
							document.getElementById('handlebars').innerHTML = html;
						}
						goHandlebarsRender(isN);
					}
				</script>
			</article>
			<article data-template="dustjs" class="oneTemplate">
				<header>dustjs<a href="https://github.com/linkedin/dustjs" class="font github"></a></header>
				<div id ="dustjs" class="renderArea">
					<h4>编码输出:</h4>
					<p>{encode}</p>
					<h4>不编码输出:</h4>
					<p>{encode|s}</p>
					<h4>条件非:</h4>
					{#object}
					{^show}
					<p>条件非ok</p>
					{/show}
					<ul>数组:
						{#list}
						<li>{.}</li>
						{/list}
					</ul>
					<ul>对象数组:
						{#objectList}
						<li>{name}</li>
						{/objectList}
					</ul>
					{/object}
				</div>
				<div class="buttons">
					<button class="render">渲染</button>
					<button class="renderN">渲染好多次</button>
				</div>
				<details>
				<summary>更多</summary>
				<ul>详细参数
					<li>大小:core:12KB,full:37KB</li>
					<li>最后更新:2 days ago</li>
					<li>star:1788</li>
					<li>测试结果2000次：无响应了。。。渲染+编译：268ms</li>
				</ul>
				<ul>支持列表
					<li>支持缓存</li>
					<li>支持数据处理</li>
					<li>支持注释</li>
					<li>支持特殊字符</li>
				</ul>
				<ul>评价：
					<li>linkedin出品</li>
					<li>语法和mustache相似</li>
					<li>带少量逻辑</li>
					<li>性能比较高</li>
					<li>
						功能比较强大，支持各种回调，但是是针对full版的
					</li>
					<li>支持预编译，如果不是使用express的，用dust需要在build过程中生成js。也就是说，用模板前，必须把模板先编译成js，编译后要注册进dust</li>
					<li>如果不使用上面的做法，就需要引入full版本，把逻辑放在前台执行。相对来说比较复杂。</li>
					<li>这个模板应该是比较适合express的。和jade和ejs一样</li>
				</ul>
				</details>
				<script>
					function goDustJsRender(isN){
						var tpl = document.getElementById('dustjs').innerHTML;
							var render = dust.compile(tpl, 'hello');
							dust.loadSource(render);
						goDustJsRender = function(isN){
							var n = isN?RENDER_TIMES:1;
							var startTime = new Date();
							while(n--){
								dust.render('hello', data, function(err, out) {
								  document.getElementById('dustjs').innerHTML = out;
								});
							}
							var endRender = new Date();
							console.log('渲染+编译时间：'+(endRender-startTime)+'ms');
						}
						goDustJsRender(isN);
					}
				</script>
			</article>
			<article data-template="tjs" class="oneTemplate">
				<header>t.js<a href="https://github.com/jasonmoo/t.js" class="font github"></a></header>
				<div id ="tjs" class="renderArea">
					<h4>编码输出:</h4>
					<p>{{%encode}}</p>
					<h4>不编码输出:</h4>
					<p>{{=encode}}</p>
					<h4>条件非:</h4>
					{{!_object.show}}
					<p>条件非ok</p>
					{{/!_object.show}}
					<ul>数组:
						{{@object.list}}
						<li>{{=_val}}</li>
						{{/@object.list}}
					</ul>
					<ul>对象数组:
						{{@object.objectList}}
						<li>{{=_val.name}}</li>
						{{/@object.objectList}}
					</ul>
				</div>
				<div class="buttons">
					<button class="render">渲染</button>
					<button class="renderN">渲染好多次</button>
				</div>
				<details>
				<summary>更多</summary>
				<ul>详细参数
					<li>大小:1.94KB</li>
					<li>最后更新:2 days ago</li>
					<li>star:673</li>
					<li>测试结果2000次：编译0ms 渲染197ms</li>
				</ul>
				<ul>支持列表
				</ul>
				<ul>评价：
					<li>非常轻巧，但是不支持数据处理</li>
					<li>语法没有作用域，写起来有点烦，是个比较简单的模板引擎</li>
				</ul>
				</details>
				<script>
					function goTJsRender(isN){
						var tpl = document.getElementById('tjs').innerHTML;
						goTJsRender = function(isN){
							var n = isN?RENDER_TIMES:1;
							var startTime = new Date();
							var render = new t(tpl);
							var endCompile = new Date();
							while(n--){
								var html = render.render(data)
							}
							var endRender = new Date();
							console.log('编译时间：'+(endCompile-startTime)+'ms');
							console.log('渲染时间：'+(endRender-endCompile)+'ms');
							document.getElementById('tjs').innerHTML = html;
						}
						goTJsRender(isN);
					}
				</script>
			</article>
			<article data-template="baiduTemplate" class="oneTemplate">
				<header>baiduTemplate<a href="https://github.com/BaiduFE/BaiduTemplate" class="font github"></a></header>
				<script type="text/template" id ="baiduTemplate" class="renderArea">
					<h4>编码输出:</h4>
					<p><%=encode%></p>
					<h4>不编码输出:</h4>
					<p><%-encode%></p>
					<h4>条件非:</h4>
					<%if(!object.show){%>
						<p>条件非ok</p>
					<%}%>
					<ul>数组:
						<%for(var i=0;i<object.list.length;i++){%>
							<li><%=object.list[i]%></li>
						<%}%>
					</ul>
					<ul>对象数组:
						<%for(var i=0;i<object.objectList.length;i++){%>
							<li><%=object.objectList[i].name%></li>
						<%}%>
					</ul>
				</script>
				<div class="renderArea" id="baiduTemplateX">
					我的模板在script中
				</div>
				<div class="buttons">
					<button class="render">渲染</button>
					<button class="renderN">渲染好多次</button>
				</div>
				<details>
				<summary>更多</summary>
				<ul>详细参数
					<li>大小:2.95KB</li>
					<li>最后更新:2 days ago</li>
					<li>star:80</li>
					<li>测试结果2000次：编译2ms 渲染160ms</li>
				</ul>
				<ul>支持列表
					<li>支持注释</li>
					<li>支持js语法</li>
				</ul>
				<ul>评价：
					<li>star的人为何这么少</li>
					<li>%打得好累</li>
					<li>必须写在script/textarea/变量里面，它不解释<>被转义的问题</li>
					<li>&分隔符内为js语法的话，非常得好操作</li>
					<li>性能还可以，模板的写法自有一个套路，如果用的习惯的话能写的比较灵活。</li>
				</ul>
				</details>
				<script>
					function goBaiduTemplateRender(isN){
						var tpl = document.getElementById('baiduTemplate').innerHTML;
						goBaiduTemplateRender = function(isN){
							var n = isN?RENDER_TIMES:1;
							var startTime = new Date();
							var render = baidu.template(tpl);
							var endCompile = new Date();
							while(n--){
								var html = render(data)
							}
							var endRender = new Date();
							console.log('编译时间：'+(endCompile-startTime)+'ms');
							console.log('渲染时间：'+(endRender-endCompile)+'ms');
							document.getElementById('baiduTemplateX').innerHTML = html;
						}
						goBaiduTemplateRender(isN);
					}
				</script>
			</article>
			<article data-template="Nunjucks" class="oneTemplate">
				<header>Nunjucks<a href="https://github.com/mozilla/nunjucks" class="font github"></a></header>
				<div class="renderArea" id="Nunjucks">
					<h4>编码输出:</h4>
					<p>{{encode}}</p>
					<h4>不编码输出:</h4>
					<p>{{encode | safe}}</p>
					<h4>条件非:</h4>
					{% if not object.show %}
					<p>条件非ok</p>
					{% endif %}
					<ul>数组:
						{% for item in object.list %}
						<li>{{item}}</li>
						{% endfor %}
					</ul>
					<ul>对象数组:
						{% for item in object.objectList %}
						<li>{{item.name}}</li>
						{% endfor %}
					</ul>
				</div>
				<div class="buttons">
					<button class="render">渲染</button>
					<button class="renderN">渲染好多次</button>
				</div>
				<details>
				<summary>更多</summary>
				<ul>详细参数
					<li>大小:slim:82.6KB not slim:26.4KB</li>
					<li>最后更新:17 days ago</li>
					<li>star:1818</li>
					<li>测试结果2000次：2069ms</li>
				</ul>
				<ul>支持列表
					<li>支持过滤器</li>
					<li>支持定义变量</li>
					<li>支持文件</li>
					<li>支持各种。。。</li>
				</ul>
				<ul>评价：
					<li>Mozilla出品</li>
					<li>功能实在是强大</li>
					<li>不适合前端</li>
					<li>这种富的模板大多数都是同时支持node的express。</li>
				</ul>
				</details>
				<script>
					function goNunjucksRender(isN){
						var tpl = document.getElementById('Nunjucks').innerHTML;
						nunjucks.configure({ autoescape: true });
						goNunjucksRender = function(isN){
							var n = isN?RENDER_TIMES:1;
							var startTime = new Date();
							while(n--){
								var html = nunjucks.renderString(tpl,data)
							}
							var endRender = new Date();
							console.log('编译+渲染时间：'+(endRender-startTime)+'ms');
							document.getElementById('Nunjucks').innerHTML = html;
						}
						goNunjucksRender(isN);
					}
				</script>
			</article>
			<article data-template="Vuejs" class="oneTemplate">
				<header>Vuejs<a href="https://github.com/yyx990803/vue" class="font github"></a></header>
				<div class="renderArea" id="Vuejs">
					<h4>编码输出:</h4>
					<p>{{encode}}</p>
					<h4>不编码输出:</h4>
					<p v-html="encode"></p>
					<h4>条件非:</h4>
					<p>条件非ok</p>
					<ul>数组:
						<li v-repeat="object.list">{{$value}}</li>
					</ul>
					<ul>对象数组:
						<li v-repeat="object.list">{{name}}</li>
					</ul>
				</div>
				<div class="buttons">
					<button class="render">渲染</button>
				</div>
				<details>
				<summary>更多</summary>
				<ul>详细参数
					<li>大小:57KB</li>
					<li>最后更新:2 days ago</li>
					<li>star:4170</li>
					<li>测试结果1次：1ms</li>
				</ul>
				<ul>支持列表
					<li>支持各种。。。</li>
				</ul>
				<ul>评价：
					<li>Google的人写的</li>
					<li>支持双向绑定</li>
					<li>语法赞</li>
					<li>就是有点大，可能适合单页面应用</li>
				</ul>
				</details>
				<script>
					function goVuejsRender(isN){
						var tpl = document.getElementById('Vuejs').innerHTML;
						goVuejsRender = function(isN){
							var n = isN?RENDER_TIMES:1;
							var startTime = new Date();
							while(n--){
								new Vue({
								  el: '#Vuejs',
								  data: data
								});
							}
							var endRender = new Date();
							console.log('编译+渲染时间：'+(endRender-startTime)+'ms');
						}
						goVuejsRender(isN);
					}
				</script>
			</article>
		</section>
		<script>
		var data = {
			title: 'Hello World! ',
			encode:'<span style="color:pink">textarea</span>',
			object:{
				show:false,
				list: ['1.array', '2.array', '3.array', '4.array', '5.array', '6.array'],
				objectList:[{
					eq:'1',
					name:'1.objlist'
				},{
					eq:'2',
					name:'2.objlist'
				},{
					eq:'3',
					name:'3.objlist'
				}]
			}
		};
		var RENDER_TIMES = 2000;
		var renderButtons = $('.render');
		$('.render').on('click tap',renderOnce);
		$('.renderN').on('click tap',function renderN (e) {
			renderOnce.apply(this,[true]);
		});
		function renderOnce(isN){
			if(typeof(isN)!=='boolean'){
				isN = false;
			}
			var templateName = $(this).parent().parent().attr('data-template');
			switch(templateName){
				case 'artTemplate': goOnceArtTempateRender(isN);return;
				case 'mustache': goMustacheRender(isN);return;
				case 'doT':goDoTRender(isN);return;
				case 'juicer':goJuicerRender(isN);return;
				case 'Hogan':goHoganRender(isN);return;
				case 'Transparency':goTransparencyRender(isN);return;
				case 'handlebars':goHandlebarsRender(isN);return;
				case 'dustjs':goDustJsRender(isN);return;
				case 'tjs':goTJsRender(isN);return;
				case 'baiduTemplate':goBaiduTemplateRender(isN);return;
				case 'Nunjucks':goNunjucksRender(isN);return;
				case 'Vuejs':goVuejsRender(isN);return;
				default:console.log('no such template?!GOD!!!')
			}
		}
		</script>
	</body>
</html>