@import 'common.scss';

body{
	background:url(../../img/common/noise.png),linear-gradient(to left,pink,#FFD6D6,pink);
	background-color:pink;
}
header{
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	margin:50px 0;
}
.block{
	background: rgb(255, 131, 131);
	float: left;
	margin: 10px;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	a{
		display: block;
		-webkit-box-flex: 1;
		font-weight: bold;
		color: #333;
	}
}