@import 'common.scss';
body{
	background: #eee;
}
.center{
	margin:0 auto;
	max-width: 720px;
	padding:30px;
	color:#555;
}
.font{
	font-family: awesome;
	&.github:before{
		content: "\f113";
	}
}
.oneTemplate{
	box-shadow: #dcdcdc 0px 1px 6px 1px;
	background: #fff;
	padding: 0 25px 25px 25px;
	margin-top: 20px;
	&:first-child{
		margin-top: 0;
	}
	header{
		text-align: left;
		font-weight: bold;
		font-size: 25px;
		padding:35px 0;
		a{
			display: inline-block;
			margin-left: 20px;
			&.font{
				color:#333;
			}
		}
	}
	.renderArea{
		font-size: 13px;
		background: #777;
		color:#fff;
		border-radius: 10px;
		box-sizing:border-box;
		box-shadow: #dcdcdc 0px 1px 6px 2px;
		padding: 15px;
		h4{
			color:#222;
			font-weight: normal;
		}
		ul{
			color:#222;
		}
		p{
			margin: 2px 0;
			text-indent: 2em
		}
		li{
			color:#fff;
			margin:2px 2em;
		}
	}
	.buttons{
		margin: 20px 0;
		button{
			margin-right: 20px;
			width: 150px;
			font-size: 18px;
			color:#333;
			display: inline-block;
			box-sizing:border-box;
			border:0;
			border-radius: 5px;
			line-height: 45px;
		}
	}
	details{
		summary{
			margin-left: -20px;
		}
		padding-left: 20px;
		ul{
			font-size: 14px;
			font-weight: bold;
			margin-top: 10px;
			&:first-child{
				margin-top: 0px;
			}
			&:last-child{
			}
			li{
				&:first-child{
					margin-top: 10px;
				}
				font-weight: normal;
				font-size: 12px;
				margin-top: 15px;
				margin-left: 2em;
			}
		}
	}
}