html, body, form, fieldset, p, div, ul, h1, h2, h3, h4, h5, h6, figure, article, strong, dl, dd {
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  font-family: Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self; }

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none; }

a {
  text-decoration: none;
  color: #44cc33; }

input, textarea {
  -webkit-touch-callout: inherit;
  -webkit-user-select: text; }

body {
  overflow-x: hidden; }

html, body {
  height: 100%;
  width: 100%; }

.hide {
  display: none; }

ul {
  list-style: none; }

a {
  text-decoration: none !important;
  outline: none; }

a:hover, a:active {
  outline: none; }

em {
  font-style: normal; }

img {
  border: 0 none;
  vertical-align: middle;
  width: 100%; }

:focus {
  outline: 0; }

@font-face {
  font-family: 'awesome';
  src: url("../font/fontawesome-webfont.eot");
  /* IE9 */
  src: url("../font/fontawesome-webfont.eot") format("embedded-opentype"), url("../font/fontawesome-webfont.woff") format("woff"), url("../font/fontawesome-webfont.ttf") format("truetype"), url("../font/fontawesome-webfont.svg") format("svg");
  /* iOS 4.1- */ }
body {
  background: #eee; }

.center {
  margin: 0 auto;
  max-width: 720px;
  padding: 30px;
  color: #555; }

.font {
  font-family: awesome; }
  .font.github:before {
    content: "\f113"; }

.oneTemplate {
  box-shadow: #dcdcdc 0px 1px 6px 1px;
  background: #fff;
  padding: 0 25px 25px 25px;
  margin-top: 20px; }
  .oneTemplate:first-child {
    margin-top: 0; }
  .oneTemplate header {
    text-align: left;
    font-weight: bold;
    font-size: 25px;
    padding: 35px 0; }
    .oneTemplate header a {
      display: inline-block;
      margin-left: 20px; }
      .oneTemplate header a.font {
        color: #333; }
  .oneTemplate .renderArea {
    font-size: 13px;
    background: #777;
    color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: #dcdcdc 0px 1px 6px 2px;
    padding: 15px; }
    .oneTemplate .renderArea h4 {
      color: #222;
      font-weight: normal; }
    .oneTemplate .renderArea ul {
      color: #222; }
    .oneTemplate .renderArea p {
      margin: 2px 0;
      text-indent: 2em; }
    .oneTemplate .renderArea li {
      color: #fff;
      margin: 2px 2em; }
  .oneTemplate .buttons {
    margin: 20px 0; }
    .oneTemplate .buttons button {
      margin-right: 20px;
      width: 150px;
      font-size: 18px;
      color: #333;
      display: inline-block;
      box-sizing: border-box;
      border: 0;
      border-radius: 5px;
      line-height: 45px; }
  .oneTemplate details {
    padding-left: 20px; }
    .oneTemplate details summary {
      margin-left: -20px; }
    .oneTemplate details ul {
      font-size: 14px;
      font-weight: bold;
      margin-top: 10px; }
      .oneTemplate details ul:first-child {
        margin-top: 0px; }
      .oneTemplate details ul li {
        font-weight: normal;
        font-size: 12px;
        margin-top: 15px;
        margin-left: 2em; }
        .oneTemplate details ul li:first-child {
          margin-top: 10px; }

/*# sourceMappingURL=templateEngine.css.map */
